body{
	background-color: #f7f7f7;
}
.header{
	background-color: #204056;
	color: white;
	padding: 5px;
}
.menu{
	border:5px solid #204056;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    color:black;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    color:white;
}